@model PagedList.IPagedList<Web.Models.AlbumModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal window-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
</div>
<!--End modal-->

<div class="loader" id="loader" style="display:none"></div>
<div id="bodycontent" style="display:block">

    <button class="btn btn-success modal-link btn-md-marko" data-link="/Albums/Create" style="margin-top:20px">Create album</button>

    <div class="row" style="margin-top:20px">
        @foreach (var album in Model)
        {
            <div class="col-md-2 col-xs-8 col-sm-4">
                <div class="thumbnail">
                    <div class="img-page-cover">
                        <a href="@Url.Action("Index", "Images", new { albumId = album.Id })">
                            <img class="img-thumb-body" src="data:image;base64,@System.Convert.ToBase64String(album.Img)">
                        </a>
                    </div>
                    <div style="margin-top:10px; margin-left:10px">
                        <p><h4>@album.Name</h4></p>
                        <p>
                            <button class="btn btn-default modal-link" title="Edit" data-link="/Albums/Edit/@album.Id"><span class="fa fa-edit"></span></button>
                            <button class="btn btn-link modal-link fa fa-trash btn-remove" title="Remove" data-link="/Albums/Remove/@album.Id"></button>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    @Html.PagedListPager(Model, page => Url.Action("Index", "Albums", new { page }))
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".modal-link").click(function () {
            var btn = $(this);
            $.get(btn.data("link"), function (data) {
                $("#myModal").html(data);
                $("#myModal").modal();
            })
        });
    });

    window.onload = function () {
        document.getElementById("loader").style.display = "none";
        document.getElementById("bodycontent").style.display = "block";
    };


</script>