@model PagedList.IPagedList<Web.Models.AlbumModel>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal window-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
</div>
<!--End modal-->

<div class="loader" id="loader" style="display:none"></div>
<div id="bodycontent" style="display:block">

    <button class="btn btn-success modal-link" data-link="/Albums/Create">Create album</button>

    <div class="row">
        @foreach (var album in Model)
        {
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="@Url.Action("Index", "Images", new { albumId = album.Id })">
                        <img src="data:image;base64,@System.Convert.ToBase64String(album.Img)" style="height:200px; width:200px">
                    </a>
                    <div>
                        <p><h4>@album.Name</h4></p>
                        <p>
                            <button class="btn btn-success modal-link fa fa-edit" title="Edit" data-link="/Albums/Edit/@album.Id"></button>
                            <button class="btn btn-link modal-link fa fa-trash btn-remove" title="Remove" data-link="/Albums/Remove/@album.Id"></button>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    @Html.PagedListPager(Model, page => Url.Action("Index", "Albums", new { page }))
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".modal-link").click(function () {
            var btn = $(this);
            $.get(btn.data("link"), function (data) {
                $("#myModal").html(data);
                $("#myModal").modal();
            })
        });
    });

    window.onload = function () {
        document.getElementById("loader").style.display = "none";
        document.getElementById("bodycontent").style.display = "block";
    };


</script>