<link rel="stylesheet" href="~/Content/Loader.css" />

<div class="nav navbar-left col-md-3">
    <div class="list-group" style="cursor:pointer">
        <a class="list-group-item link" data-link="/Profile/Albums">My albums</a>
        <a class="list-group-item link" data-link="/Profile/Favourites">Favourites</a>
        <a class="list-group-item link" data-link="/Profile/Settings">Profile settings</a>
    </div>
</div>
<div class="container col-md-9" id="body">
    <div class="loader" id="loader" style="display:none"></div>
</div>