@{
    ViewBag.Title = "Home Page";
}

<h2>@User.Identity.Name</h2>

<link rel="stylesheet" href="~/Content/MyStyle2.css" />

@*<img src="~/Media/8b1a60250b44f4f12766ebf100b5d78f.jpg" class="img-full" />*@
