.img-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.centered {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.fa-trash:hover {
    color: #1a1a1a;
    text-decoration: none !important;
}

.fa-trash {
    color: #707070;
    text-decoration: none !important;
}

.block-center {
    margin: 10px auto;
    position: relative;
}


html,
body {
    height: 100%;
}

#cover {
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}